@import "src/@fuse/scss/fuse";
#modules-permission {

      .mat-header-name{
        text-align: left;
        padding-left: 3px;
      }
      .mat-cell-name{
        text-align: left;
        padding-left: 3px;
      }
}
