<div class="parentdiv" style="display: flex; flex-direction: column;width: 100%;">
  <div fxLayout="row" style="align-self: center;">
    <h2 style="padding: 20px 0;
    font-size: 28px;
    font-weight: 700;
    color: #1d5e97;">Getting Started</h2>
    <div fxLayout="column" fxLayoutAlign=" end end" style="    position: absolute;right: 2%;top: 1%;">
      <h3> Want help to Add SWOT?</h3>
      <button *ngIf="isswot == false"
        style="background: #1d5e97;color: #fff; padding: 10px 19px;border: none;cursor: pointer;margin-right: 18%;"
        (click)="bulletOne()">Click here</button>
      <button *ngIf="isswot == true"
        style="background: #1d5e97;color: #fff; padding: 10px 19px;border: none;cursor: pointer;margin-right: 18%;"
        (click)="bulletTwo()">Go Back</button>
    </div>
  </div>
  <div fxFlex="100" fxLayout="row" style="margin: 0 3%;">
    <div fxFlex="50" style="background-color: #fff;">
      <mat-vertical-stepper [linear]="true" #stepper style="width: 100%;margin: auto;" #stepper>
        <mat-step [stepControl]="AddStraForm" [editable]="isEditable">
          <form [formGroup]="AddStraForm" fxLayoutAlign="start" fxLayout="column" name="AddStraForm"
            (ngSubmit)="AddStrategicSubmit()" novalidate>
            <ng-template matStepLabel>Fill out your Strategic Object
              <mat-icon *ngIf="isfiled == true" class="info_icon info_icon2" matTooltipPosition="right"
                color="seagreen">
                check_circle_outline
              </mat-icon>
            </ng-template>

            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Description</mat-label>
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" matInput
                  formControlName="description" required></textarea>
                <mat-error>Description is required!</mat-error>
              </mat-form-field>
            </div>
            <div class="field-textarea" [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center">

              <mat-form-field appearance="outline" fxFlex="47" *ngIf="multi_dept">
                <mat-label>Department</mat-label>
                <mat-select matNativeControl formControlName="department_id" multiple>
                  <mat-option *ngFor="let department of dataDepartment" [value]="department.id">
                    {{department.dept_name}}</mat-option>
                </mat-select>
                <!-- (selectionChange)="strategicObjGet($event.value); -->
                <mat-error>Department is required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="56" *ngIf="!multi_dept">
                <mat-label>Department</mat-label>
                <mat-select matNativeControl formControlName="department_id" [disabled]="SO_dept_hide">
                  <mat-option *ngFor="let department of dataDepartment" [value]="department.id">
                    {{department.dept_name}}</mat-option>
                </mat-select>
                <mat-error>Department is required</mat-error>
              </mat-form-field>
              <a href="javascript:void(0)" class="mb-16 add-circle-color" fxFlex="9" fxLayoutAlign="center center"
                style="margin-left: -23px; margin-right: -23px;" [ngClass]="{'sodpplus': SO_dept_hide }"  *ngIf="deptPermisiion.acc_create == 1">
                <mat-icon matTooltip="Add New Department" aria-label="Add New Department" (click)="addDepartment()"
                  *ngIf="true">add_circle
                </mat-icon>
                <!-- <mat-icon (click)="" *ngIf="false">remove_circle</mat-icon> -->
              </a>
              <mat-form-field appearance="outline" fxFlex="25" class="pr-4"
                [ngClass]="{'sodpplus_target': SO_dept_hide }">
                <mat-label>Target (Current Year) </mat-label>
                <input matInput formControlName="target" required>
                <mat-error>Target (Current Year) is required!</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="25">
                <mat-label>Unit Of Measurement</mat-label>
                <mat-select matNativeControl formControlName="unit_of_measurement">
                  <mat-option *ngFor="let uom of dataunitOfMeasur" [value]="uom.uom_id">{{uom.uom_name}}
                  </mat-option>
                </mat-select>
                <mat-error>Unit Of Measurement is required</mat-error>
              </mat-form-field>

            </div>
            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center">

              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Start</mat-label>
                <input matInput [min]="minStrDate" [matDatepicker]="picker1" formControlName="start_date"
                  [(ngModel)]="start_date" required readonly>

                <mat-error>Start Date is required!</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <!-- <mat-form-field appearance="outline"  fxFlex="50" class="pr-4" *ngIf="total_objectives.strategic_objectives.total != 0">
                <mat-label>honey</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="start_date"
                  [(ngModel)]="start_date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field> -->
              <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Finish</mat-label>
                <input matInput [min]="minStrDate" [matDatepicker]="picker2" formControlName="end_date"
                  [(ngModel)]="end_date" required readonly>
                <mat-error>Finish Date is required!</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

            </div>

            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto"
              class="description">
              <div fxFlex="75" fxLayoutAlign="start center">
                <!-- In your Business plan calculator Jan - Des Or April - March. select the start month -->
              </div>
              <div fxFlex="25" fxLayoutAlign="end center">
                <button mat-raised-button color="accent"
                  style="background: #1d5e97;color: #fff; padding: 2px 19px;border: none;cursor: pointer;"
                  matStepperNext class="next_btn">Next</button>
                <!-- (click)="isClicked = !isClicked"
              [class.myClass]="isClicked" -->
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="addInitiaForm" [editable]="isEditable" [completed]='completed'>
          <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="addInitiaForm"
            [formGroup]="addInitiaForm" (ngSubmit)="addInitiative()" novalidate>

            <ng-template matStepLabel>Fill out your Initiative
              <mat-icon *ngIf="isfiled2 == true" class="info_icon info_icon2" matTooltipPosition="right"
                color="seagreen">
                check_circle_outline
              </mat-icon>
            </ng-template>

            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">

              <mat-form-field appearance="outline" fxFlex="30" class="pr-4">
                <mat-label>Department</mat-label>
                <mat-select matNativeControl formControlName="dept_id"
                  (selectionChange)="sectionGet($event.value);strategicObjGet($event.value)" disabled>
                  <mat-option *ngFor="let department of dataDepartment" [value]="department.id">
                    {{department.dept_name}}</mat-option>
                </mat-select>
                <mat-error>Department is required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="70" class="pl-4">
                <mat-label>Strategic Objective</mat-label>
                <mat-select matNativeControl formControlName="s_o_id"
                  (selectionChange)="mainMaxDtaeStrObj($event.value)" disabled>
                  <mat-option *ngFor="let strategic of dataStraObj" [value]="strategic.id">
                    {{strategic.description}}</mat-option>
                </mat-select>
                <mat-error>Strategic Objective is required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" fxFlex="70" class="pl-4" *ngIf="showIS">
              <mat-label>Strategic Objective</mat-label>
              <mat-select matNativeControl formControlName="s_o_id" (selectionChange)="mainMaxDtaeStrObj($event.value)">
                <mat-option  [value]="strategic_objectivesinfo.id">
                  {{strategic_objectivesinfo.description}}</mat-option>
              </mat-select>
              <mat-error>Strategic Objective is required</mat-error>
            </mat-form-field> -->
            </div>

            <!-- Show date -->
            <div *ngIf="displayIniDate" class="widget-group p-0 d-flex" [@animateStagger]="{value:'50'}"
              [fxLayout]="direction" fxLayout.xs="column">
              <!-- <div class="hadding heading_date" style="margin-right: 12px;">
              <span style="font-weight: 400;font-size:14px;">Start-date & End-date of Strategic Object</span>
            </div> -->
              <div class="hadding heading_date" style="margin-right: 12px;"><span
                  style="font-weight: 900;font-size:14px; ">Start: </span>
                <span style="font-weight: 300;font-size:12px;">{{this.showInitiativeDate1}}</span>
              </div>
              <div class="hadding heading_date"><span style="font-weight: 900;font-size:14px;">Finish: </span>
                <span style="font-weight: 300;font-size:12px;">{{this.showInitiativeDate2}}</span>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Strategic Initiative</mat-label>
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" matInput
                  formControlName="definition" required></textarea>
                <mat-error>Strategic Initiative is required!</mat-error>
              </mat-form-field>
            </div>

            <div class="field-textarea" [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center"
              fxFlex="1 0 auto">

              <mat-form-field appearance="outline" fxFlex="33.33" class="pr-4">
                <mat-label>Section</mat-label>
                <mat-select matNativeControl formControlName="section_id">
                  <mat-option *ngFor="let section of dataSections" [value]="section.id"> {{section.section_name}}
                  </mat-option>
                </mat-select>
                <mat-error>Section is required</mat-error>
              </mat-form-field>
              <a href="javascript:void(0)" class="mb-16 add-circle-color" fxFlex="9" fxLayoutAlign="center center"
                style="margin-left: -17px; margin-right: -15px;" *ngIf="sectionPermission.acc_create == 1">
                <mat-icon matTooltip="Add New Section" aria-label="Add New Section" (click)="addSectionShow()"
                  *ngIf="addsectionPlus">add_circle
                </mat-icon>
                <mat-icon (click)="addSectionHide()" *ngIf="addsectionMinus">remove_circle</mat-icon>
              </a>

              <mat-form-field appearance="outline" fxFlex="33.34" class="pr-4">
                <mat-label>Start</mat-label>
                <input matInput [min]="minStartDate" [max]="initiactivemaxdate" [matDatepicker]="picker3"
                  formControlName="start_date" [(ngModel)]="start_date2" readonly [disabled]="datepickerDisable">
                <mat-error *ngIf="!cmpreInitStartDate">Start date is required!</mat-error>
                <mat-error *ngIf="cmpreInitStartDate"> The start date is out of range. </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33.33">
                <mat-label>Finish</mat-label>
                <!-- [min]="minStartDate" -->
                <input matInput [min]="minStartDate" [max]="initiactivemaxdate" [matDatepicker]="picker4"
                  formControlName="end_date" [(ngModel)]="end_date2" readonly [disabled]="datepickerDisable">
                <mat-error *ngIf="!cmpreInitEndDate">Finish date is required!</mat-error>
                <mat-error *ngIf="cmpreInitEndDate"> The ens date is out of range.</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
              <button mat-button matStepperPrevious
                style="background: #1d5e97;color: #fff; padding: 2px 19px;border: none;cursor: pointer;">Back</button>

              <button mat-raised-button color="accent"
                style="background: #1d5e97;color: #fff;margin-left: 2px; padding: 2px 19px;border: none;cursor: pointer;"
                matStepperNext (click)="isEditable2 ? null: test()" class="next_btn">Next</button>
            </div>
          </form>

        </mat-step>
        <mat-step [stepControl]="addActionForm" [editable]="isEditable">
          <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="addActionForm"
            [formGroup]="addActionForm" (ngSubmit)="addActionPlan()" novalidate>
            <ng-template matStepLabel>Fill out your Action Plan
              <mat-icon *ngIf="isfiled3 == true" class="info_icon info_icon2" matTooltipPosition="right"
                color="seagreen">
                check_circle_outline
              </mat-icon>
            </ng-template>
            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">

              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Department</mat-label>
                <mat-select matNativeControl formControlName="dept_id"
                  (selectionChange)="strategicObjGet($event.value);kpiGet($event.value);sectionGet($event.value)"
                  disabled>
                  <mat-option *ngFor="let department of dataDepartment" [value]="department.id">
                    {{department.dept_name}}</mat-option>
                </mat-select>
                <mat-error>Department is required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                <mat-label>Strategic Objective</mat-label>
                <mat-select matNativeControl formControlName="s_o_id" (selectionChange)="initiativesGet($event.value)"
                  disabled>
                  <mat-option *ngFor="let strategic of dataStraObj" [value]="strategic.id">
                    {{strategic.description}}</mat-option>
                </mat-select>
                <mat-error>Strategic Objective is required</mat-error>
              </mat-form-field>
            </div>
            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Initiative</mat-label>
                <mat-select formControlName="initiatives_id" (selectionChange)="mainMaxDtaeInit($event.value)" disabled>
                  <mat-option *ngFor="let initiatives of  dataInitiatives" [value]="initiatives.id">
                    {{initiatives.definition}}</mat-option>
                </mat-select>
                <mat-error>Initiative is required</mat-error>
              </mat-form-field>


            </div>
            <!-- date show -->

            <div *ngIf="displayActDate" class="widget-group p-0 d-flex" [@animateStagger]="{value:'50'}"
              [fxLayout]="direction" fxLayout.xs="column">
              <!-- <div class="hadding heading_date" style="margin-right: 12px;">
              <span style="font-weight: 400;font-size:14px;">Start-date & End-date of Initiative</span>
            </div> -->
              <div class="hadding heading_date" style="margin-right: 12px;">
                <span style="font-weight: 900;font-size:14px; ">Start: </span>
                <span style="font-weight: 300;font-size:12px;">{{this.showActionDate1}}</span>
              </div>
              <div class="hadding heading_date"><span style="font-weight: 900;font-size:14px;">Finish: </span>
                <span style="font-weight: 300;font-size:12px;">{{this.showActionDate2}}</span>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>New Action plan</mat-label>
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" matInput
                  formControlName="definition"></textarea>
                <mat-error>New Action plan is required!</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="97" class="pl-4">
                <mat-label>KPI</mat-label>
                <mat-select formControlName="kpi_id" multiple>
                  <mat-option>Not Applicable</mat-option>
                  <mat-option *ngFor="let kpi of  kpiDataList" [value]="kpi.kpi_id">
                    {{kpi.kpi_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <a href="javascript:void(0)" class="mb-16 add-circle-color" fxFlex="3" fxLayoutAlign="center center"
                class="pl-4">
                <mat-icon matTooltip="Add New KPI" aria-label="Add New KPI" (click)="addKpiShow()" *ngIf="addKpiPlus">
                  add_circle</mat-icon>
                <mat-icon (click)="addKpiHide()" *ngIf="addKpiMinus">remove_circle</mat-icon>
              </a>
            </div>

            <div class="field-textarea" [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center"
              fxFlex="1 0 auto">

              <mat-form-field appearance="outline" fxFlex="33.33" class="pr-4">
                <mat-label>Target</mat-label>
                <input matInput formControlName="target" autocomplete="off">
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33.33" class="pr-4">
                <mat-label>Owner</mat-label>
                <mat-select formControlName="co_owner" multiple>
                  <mat-option *ngFor="let user of  dataActionOwner" [value]="user.user_id ">
                    {{user.name}}</mat-option>
                </mat-select>
                <mat-error>Owner is required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33.33" class="pr-4">
                <mat-label>Review Frequency</mat-label>
                <mat-select formControlName="control_point">
                  <mat-option value="Monthly">Monthly</mat-option>
                  <mat-option value="Quarterly">Quarterly</mat-option>
                  <mat-option value="Half Yearly">Half Yearly</mat-option>
                  <mat-option value="Yearly">Yearly</mat-option>
                </mat-select>
                <mat-error>Review Frequency is required</mat-error>
              </mat-form-field>
            </div>
            <div class="field-textarea" [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center"
              fxFlex="1 0 auto">

              <mat-form-field appearance="outline" fxFlex="33.33" class="pr-4">
                <mat-label>Start</mat-label>
                <input matInput [min]="minStartDate3" [max]="actionmaxdate" [matDatepicker]="picker5"
                  formControlName="start_date" [(ngModel)]="start_date3" readonly [disabled]="datepickerDisable">
                <mat-error>Start date is required!</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                <mat-datepicker #picker5></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33.33" class="pr-4">
                <mat-label>Finish</mat-label>
                <input matInput [min]="minStartDate3" [max]="actionmaxdate" [matDatepicker]="picker6"
                  formControlName="end_date" [(ngModel)]="end_date3" readonly [disabled]="datepickerDisable">
                <mat-error>Finish date is required!</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33.33" class="pr-4">
                <mat-label>Reminder</mat-label>
                <input matInput [min]="minStartDate3" [max]="actionmaxdate" [matDatepicker]="picker7"
                  formControlName="reminder_date" [(ngModel)]="reminder_date" readonly>
                <mat-error>Reminder date is required!</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                <mat-datepicker #picker7></mat-datepicker>
              </mat-form-field>
            </div>

            <div *ngIf="kpiFromShow" fxFlex="1 0 auto">
              <div formArrayName="kpiFromData"
                *ngFor="let item of addActionForm.get('kpiFromData').controls; let i = index;">
                <div [formGroupName]="i" style="flex-direction: column !important;">
                  <div class="popup-header">
                    <mat-toolbar matDialogTitle class="m-0">
                      <mat-toolbar-row>
                        <span class="title dialog-title">Add KPI</span>
                      </mat-toolbar-row>
                    </mat-toolbar>
                  </div>
                  <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                      <mat-label>Section</mat-label>
                      <mat-select matNativeControl formControlName="section_id">
                        <mat-option value="{{section.id}}" *ngFor="let section of dataSections">
                          {{section.section_name}}</mat-option>
                      </mat-select>
                      <mat-error>Section is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                      <mat-label>KPI Name</mat-label>
                      <input matInput formControlName="kpi_name">
                      <mat-error>KPI Name is required!</mat-error>
                    </mat-form-field>
                  </div>
                  <div [fxLayout]="direction" class="field-textarea" fxLayout.xs="column" fxLayoutAlign="start center"
                    fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                      <mat-label>KPI Definition</mat-label>
                      <textarea matInput formControlName="kpi_definition"></textarea>
                      <mat-error>KPI Definition is required!</mat-error>
                    </mat-form-field>
                  </div>
                  <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50">
                      <mat-label>Ideal Trend</mat-label>
                      <mat-select matNativeControl formControlName="ideal_trend" placeholder="Ideal Trend">
                        <mat-option value="positive">positive (good if number goes up)</mat-option>
                        <mat-option value="negative">negative (good if number goes down)</mat-option>
                      </mat-select>
                      <mat-error>Ideal Trend is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                      <mat-label>Unit Of Measurement</mat-label>
                      <mat-select matNativeControl formControlName="unit_of_measurement">
                        <mat-option *ngFor="let uom of dataunitOfMeasur" [value]="uom.uom_id">
                          {{uom.uom_name}}</mat-option>
                      </mat-select>
                      <mat-error>Unit Of Measurement is required!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                      <mat-label>Year End Target</mat-label>
                      <mat-select matNativeControl formControlName="target_condition">
                        <mat-option value="sum_up_all">Sum Up-All</mat-option>
                        <mat-option value="average">Average</mat-option>
                        <mat-option value="terminal_value">Terminal (YE) Value</mat-option>
                      </mat-select>
                      <mat-error>Year End Target is required!</mat-error>
                    </mat-form-field>
                  </div>
                  <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50">
                      <mat-label>Lead KPI</mat-label>
                      <mat-select matNativeControl formControlName="lead_kpi" placeholder="Lead KPI">
                        <mat-option value="1">Yes</mat-option>
                        <mat-option value="0">No</mat-option>
                      </mat-select>
                      <mat-error>Lead KPI is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                      <mat-label>Performance KPI</mat-label>
                      <mat-select matNativeControl formControlName="kpi_performance" placeholder="Performance KPI">
                        <mat-option value="1">Yes</mat-option>
                        <mat-option value="0">No</mat-option>
                      </mat-select>
                      <mat-error>Performance KPI is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                      <mat-label>Frequency</mat-label>
                      <mat-select matNativeControl formControlName="frequency">
                        <mat-option value="Monthly">Monthly</mat-option>
                        <mat-option value="Quarterly">Quarterly</mat-option>
                      </mat-select>
                      <mat-error>Frequency is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto"
                    *ngIf="companyFinancialYear =='jan-dec'">
                    <mat-form-field fxFlex="33.33" appearance="outline">
                      <mat-label>January</mat-label>
                      <input matInput formControlName="jan" (keypress)="numberValidation($event)">
                    </mat-form-field>
                    <mat-form-field fxFlex="33.33" class="pl-4" appearance="outline">
                      <mat-label>February</mat-label>
                      <input matInput formControlName="feb" (keypress)="numberValidation($event)">
                    </mat-form-field>
                    <mat-form-field fxFlex="33.33" class="pl-4" appearance="outline">
                      <mat-label>March</mat-label>
                      <input matInput formControlName="mar" (keypress)="numberValidation($event)">
                    </mat-form-field>
                  </div>
                  <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="33.33" appearance="outline">
                      <mat-label>April</mat-label>
                      <input matInput formControlName="apr" (keypress)="numberValidation($event)">
                    </mat-form-field>
                    <mat-form-field fxFlex="33.33" class="pl-4" appearance="outline">
                      <mat-label>May</mat-label>
                      <input matInput formControlName="may" (keypress)="numberValidation($event)">
                    </mat-form-field>
                    <mat-form-field fxFlex="33.33" class="pl-4" appearance="outline">
                      <mat-label>June</mat-label>
                      <input matInput formControlName="jun" (keypress)="numberValidation($event)">
                    </mat-form-field>
                  </div>
                  <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="33.33" appearance="outline">
                      <mat-label>July</mat-label>
                      <input matInput formControlName="jul" (keypress)="numberValidation($event)">
                    </mat-form-field>
                    <mat-form-field fxFlex="33.33" class="pl-4" appearance="outline">
                      <mat-label>August</mat-label>
                      <input matInput formControlName="aug" (keypress)="numberValidation($event)">
                    </mat-form-field>
                    <mat-form-field fxFlex="33.33" class="pl-4" appearance="outline">
                      <mat-label>September</mat-label>
                      <input matInput formControlName="sep" (keypress)="numberValidation($event)">
                    </mat-form-field>
                  </div>
                  <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="33.33" appearance="outline">
                      <mat-label>October</mat-label>
                      <input matInput formControlName="oct" (keypress)="numberValidation($event)">
                    </mat-form-field>
                    <mat-form-field fxFlex="33.33" class="pl-4" appearance="outline">
                      <mat-label>November</mat-label>
                      <input matInput formControlName="nov" (keypress)="numberValidation($event)">
                    </mat-form-field>
                    <mat-form-field fxFlex="33.33" class="pl-4" appearance="outline">
                      <mat-label>December</mat-label>
                      <input matInput formControlName="dec" (keypress)="numberValidation($event)">
                    </mat-form-field>
                  </div>
                  <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto"
                    *ngIf="companyFinancialYear =='april-march'">

                    <mat-form-field fxFlex="33.33" appearance="outline">
                      <mat-label>January</mat-label>
                      <input matInput formControlName="jan" (keypress)="numberValidation($event)">
                    </mat-form-field>

                    <mat-form-field fxFlex="33.33" class="pl-4" appearance="outline">
                      <mat-label>February</mat-label>
                      <input matInput formControlName="feb" (keypress)="numberValidation($event)">
                    </mat-form-field>

                    <mat-form-field fxFlex="33.33" class="pl-4" appearance="outline">
                      <mat-label>March</mat-label>
                      <input matInput formControlName="mar" (keypress)="numberValidation($event)">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
              <button mat-button matStepperPrevious
                style="background: #1d5e97;color: #fff; padding: 2px 19px;border: none;cursor: pointer;">Back</button>
              <button mat-button matStepperNext
                style="background: #1d5e97;color: #fff; margin-left: 2px; padding: 2px 19px;border: none;cursor: pointer;">Submit</button>

            </div>
            <div *ngIf="isfiled3 == true">
              <button mat-button style="background-color: #F5F5F5;" [routerLink]="['/apps/business-plan-list-view']">Add
                more Action plans</button> OR
              <button mat-button style="background-color: #F5F5F5;" (click)="welcome_screen()">Go ahead</button>
            </div>
          </form>
        </mat-step>
        <!-- <mat-step *ngIf="done">
        <div>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="welcome_screen()">Go ahead</button>
          </div>
        </div>
      </mat-step>
      <mat-step *ngIf="!done">
        <ng-template matStepLabel>Not Done</ng-template>
        <p>Please go back to complete.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step> -->
      </mat-vertical-stepper>
    </div>
    <div fxFlex="50"
      style="max-width: 50%; background: rgb(255, 255, 255);position: relative;align-self: flex-start;color: #ffff;  height: 52vw;">

      <!-- <h2 class="company-header2" style="text-align: center;">SWOT Help</h2> -->
      <!-- <div fxLayout="column" fxLayoutAlign=" end end" style="margin-top: -7%;margin-right: 17px;">
        <h4 style="margin-right: 8px;">Still Want to ?</h4>
        <button style="background: #1d5e97;color: #fff; padding: 10px 19px;border: none;cursor: pointer;"
          [routerLink]="['/apps/strategic-obj/swot']">ADD SWOT</button>
      </div> -->
      <div class="accordian_div">
        <div [ngClass]="slideshow2 ?'activeslide':'activeslide2'">
          <!-- <h3 style="font-size: 20px;color: yellow;text-align: center;margin-top: 11px;"> What SWOT in Actual </h3> -->
          <!-- <img src="assets/images/SWOThelp2.png" > -->
          <!-- <swot-analysis></swot-analysis> -->
          <app-swot-data (dataEvent)="receiveData($event)"></app-swot-data>
        </div>
        <div [ngClass]="slideshow1 ? 'activeslide':'activeslide2'" class="imgcharts">
          <h3 style="font-size: 30px; font-weight:600;color: #1d5e97;text-align: center;margin-bottom: 13%;">
            What SWOT in Actual ? </h3>
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="stepexpand === 0" (opened)="setStep(stepexpand)"
              (opened)="panelOpenState = true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  1.Enter Strength of your Organization .
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Lorem ipsum.</p>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="stepexpand === 1" (opened)="setStep(stepexpand)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  2.Enter Weakness of Your Organization.
                </mat-panel-title>

              </mat-expansion-panel-header>
              <p>Lorem ipsum.
              </p>

            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="stepexpand === 2" (opened)="setStep(stepexpand)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  3.Enter Opportunities.
                </mat-panel-title>
                <mat-panel-description>
                  <mat-icon style="color: black;">arrow</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Lorem ipsum</p>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="stepexpand === 4" (opened)="setStep(stepexpand)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  4.Enter Threads.
                </mat-panel-title>
                <mat-panel-description>
                  <mat-icon style="color: black;">arrow</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Lorem ipsum.</p>

            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div [ngClass]="slideshow3 ?'activeslide':'activeslide2'">
          <h3 style="font-size: 20px;color: #1d5e97;font-weight: 600 ;text-align: center;margin-top: 11px;"> Look in to SWOT</h3>
          <img src="assets/images/SWOT_history.png" style="width:300px; height:447px;">
        </div>
      </div>
      <div class="bullet-div">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">

          <mat-button-toggle value="italic" (click)="bulletTwo()" class="dot-dot">
            <mat-icon [ngClass]="slideshow2 ? 'bullet_two':'bullet_twofill'">panorama_fish_eye
            </mat-icon>
          </mat-button-toggle>

          <mat-button-toggle value="underline" (click)="bulletThree()" class="dot-dot" style="border-left: none;">
            <mat-icon [ngClass]="slideshow3 ? 'bullet_three':'bullet_threefill'">panorama_fish_eye
            </mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="bold" (click)="bulletOne()" class="dot-dot" style="border-left: none;">
            <mat-icon [ngClass]="slideshow1 ? 'bullet_one':'bullet_onefill'">panorama_fish_eye
            </mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>

      </div>
    </div>

  </div>
</div>


<!-- hhh -->