<div id="taks-fiels" class="page-layout blank">
    <!-- HEADER -->
    <div class="header header-content-dashboard" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row">
        <!-- APP TITLE -->
        <div fxLayout="row">
            <div class="logo" fxLayout="row">
                <span class="logo-text header-tittle" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
           Task Files
          </span>
            </div>
        </div>
    </div>
    <!-- HEADER -->
    <div class="content all-pages-content">
        <div class="left main-fiels">
            <div class="main-widget">
                <div class="widget-group p-0 dept-header-color" fxLayout="row" [@animateStagger]="{value:'50'}">
                    <fuse-widget class="widget p-0" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
                        <div fxLayoutAlign="start">
                            <div class="pr-16">
                                <div fxLayoutAlign="center">
                                    <button class="mat-icon-button" [routerLink]="['/apps/dashboards/taskremark', tasks_id]">
                                    <span class="mat-button-wrapper">
                                        <mat-icon class="secondary-text" style="color: #fff;">arrow_back</mat-icon>
                                    </span>
                                  </button>
                                </div>
                            </div>
                            <div class="pr-16">
                                <div fxLayoutAlign="center" style="padding-top: 10px;">Task: {{task_name}}</div>
                            </div>
                        </div>
                    </fuse-widget>
                </div>
                <div class="widget-group  pl-16" fxLayout="row wrap" [@animateStagger]="{value:'50'}">
                    <div class="widget-group" fxLayout="column" fxFlex="100" [@animateStagger]="{value:'50'}">
                        <div class="widget-group" fxLayout="row" fxFlex="100" [@animateStagger]="{value:'50'}">
                            <div class="example-button-row search-filter-input">
                                <mat-form-field class="mt-4" appearance="outline">
                                    <mat-label>Search</mat-label>
                                    <input matInput (keyup)="applyFilter($event.target.value)">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-widget">
                <div class="example-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="tasks_id" sticky>
                            <th mat-header-cell *matHeaderCellDef class="mat-header-sr-no">Sr.No.</th>
                            <td mat-cell *matCellDef="let element" class="mat-cell-sr-no">{{element.sr_no}}</td>
                        </ng-container>
                        <ng-container matColumnDef="task_name">
                            <th mat-header-cell *matHeaderCellDef>Taks Name</th>
                            <td mat-cell *matCellDef="let element" class="mat-cell-definition">{{element.task_name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="user_name">
                            <th mat-header-cell *matHeaderCellDef>User Name</th>
                            <td mat-cell *matCellDef="let element">{{element.user_name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="updated_at">
                            <th mat-header-cell *matHeaderCellDef class="mat-header-startDate">Updated Date</th>
                            <td mat-cell *matCellDef="let element">{{element.updated_at | date:'dd-MM-yyyy'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="file_name">
                            <th mat-header-cell *matHeaderCellDef>File Name</th>
                            <td mat-cell *matCellDef="let element"><a class="link" target="_blank" href="{{element.image_path}}">{{element.file_name}}</a></td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="mat-header-action">Action</th>
                            <td mat-cell *matCellDef="let element" class="mat-cell-action">
                                <a href="javascript:void(0)" [matMenuTriggerFor]="menu">
                                    <img class="more-horiz-icon" src="assets/icons/more_horiz-24px.svg">
                                </a>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="TasksFilesDelete(element.user_id,element.tasks_files_id)" *ngIf="taskFilesPermission.acc_delete == 1">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                      </button>
                                </mat-menu>
                            </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef>Comment</th>
                <td mat-cell *matCellDef="let element">
                  <a href="javascript:void(0)"><mat-icon>visibility</mat-icon></a>
                </td>
              </ng-container> -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>