@import "src/@fuse/scss/fuse";
#task-analytics {
  /* .header-menu {
    background-color: #1c5e97;
    .menu {
      padding: 4px;
      color: #fff;
    }
  } */
  /* .decoration {
    text-decoration: none !important;
    cursor: pointer;
  } */
  .example-container {
    min-height: 200px;
  }
  tr.mat-header-row {
    height: 25px;
    background-color: #1c5e97;
  }
  th.mat-header-cell {
    color: #fff !important;
    text-align: center;
  }
  .mat-header-completion {
    padding-right: 0px;
    width: 90px;
  }
  .mat-header-targetDate{
    width: 109px;
  }
  .mat-header-issueStatus{
    width: 125px;
  }
  /* .mat-elevation-z8 {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  } */
  div.task_assigns:last-child {
    border-bottom: 0px;
  }
  div.task_assigns {
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;
  }
}
