<div id="forgot-password" fxLayout="column">
    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="title">RECOVER YOUR PASSWORD</div>
            <span *ngIf="ForgetSuccess" style="color: green;">{{MessageSuccess}}</span>
            <form  *ngIf="ForgetFrom" name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="ForgotSubmit()" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    SEND RESET LINK
                </button>
            </form>
            <form  *ngIf="ResetFrom" name="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="ResetSubmit()" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>Token</mat-label>
                    <input matInput formControlName="reset_password_token">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('reset_password_token').hasError('required')">
                        Email is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="new_password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password (Confirm)</mat-label>
                    <input matInput type="password" formControlName="confirm_password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('confirm_password').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('confirm_password').hasError('required') &&
                                       resetPasswordForm.get('confirm_password').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid">
                    RESET MY PASSWORD
                </button>
            </form>
             <span *ngIf="ForgetError" style="color:red;">{{MessageError}}</span>
            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/apps/login'">Go back to login</a>
            </div>
        </div>
    </div>
</div>
