<div class="content popup-content">
    <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="AddKpiForm" [formGroup]="AddKpiForm"
            (ngSubmit)="AddKpiSubmit()" novalidate>
            <!-- <div class="h3 mb-12">Add KPI</div> -->
            <div class="popup-header">
                <mat-toolbar matDialogTitle class="m-0">
                    <mat-toolbar-row>
                        <span class="title dialog-title">Continue to next year for this KPI</span>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Department</mat-label>
                    <mat-select matNativeControl formControlName="department_id"
                        (selectionChange)="sectionGet($event.value);strategicObjGet($event.value)">
                        <mat-option [value]="department.id" *ngFor="let department of dataDepartment">
                            {{department.dept_name}}</mat-option>
                    </mat-select>
                    <mat-error>Department is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>Section</mat-label>
                    <mat-select matNativeControl formControlName="section_id">
                        <mat-option [value]="section.id" *ngFor="let section of dataSections">{{section.section_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Section is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>Strategic</mat-label>
                    <mat-select matNativeControl formControlName="s_o_id"
                        (selectionChange)="initiativesGet($event.value)">
                        <mat-option *ngFor="let strategic of dataStraObj" value="{{strategic.id}}">
                            {{strategic.description}}</mat-option>
                    </mat-select>
                    <mat-error>Strategic is required</mat-error>
                </mat-form-field>
            </div>
            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Initiative</mat-label>
                    <mat-select formControlName="initiatives_id" (selectionChange)="actionPlansGet($event.value)">
                        <mat-option *ngFor="let initiatives of  initiativesData" value="{{initiatives.id}}">
                            {{initiatives.definition}}</mat-option>
                    </mat-select>
                    <mat-error>Initiative is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>Action Plan</mat-label>
                    <mat-select formControlName="action_plan_id" [compareWith]="compareActionFn" multiple>
                        <mat-option *ngFor="let action of  actionPlansData" [value]="action.action_plan_id">
                            {{action.definition}}</mat-option>
                    </mat-select>
                    <mat-error>Action Plan is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>KPI Name</mat-label>
                    <input matInput formControlName="kpi_name">
                    <mat-error>KPI Name is required!</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" class="field-textarea" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>KPI Definition</mat-label>
                    <textarea matInput formControlName="kpi_definition"></textarea>
                    <mat-error>KPI Definition is required!</mat-error>
                </mat-form-field>
            </div>
            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Ideal Trend</mat-label>
                    <mat-select matNativeControl placeholder="Ideal Trend" formControlName="ideal_trend">
                        <mat-option value="positive">positive (good if number goes up)</mat-option>
                        <mat-option value="negative">negative (good if number goes down)</mat-option>
                    </mat-select>
                    <mat-error>Ideal Trend is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>Unit Of Measurement</mat-label>
                    <mat-select matNativeControl formControlName="unit_of_measurement">
                        <mat-option *ngFor="let uom of dataunitOfMeasur" [value]="uom.uom_id">{{uom.uom_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Unit Of Measurement is required!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>Year End Target</mat-label>
                    <mat-select matNativeControl formControlName="target_condition">
                        <mat-option value="sum_up_all">Sum Up-All</mat-option>
                        <mat-option value="average">Average</mat-option>
                        <mat-option value="terminal_value">Terminal (YE) Value</mat-option>
                    </mat-select>
                    <mat-error>Year End Target is required!</mat-error>
                </mat-form-field>
            </div>
            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Lead KPI</mat-label>
                    <mat-select matNativeControl placeholder="Lead KPI" formControlName="lead_kpi">
                        <mat-option [value]="1">Yes</mat-option>
                        <mat-option [value]="0">No</mat-option>
                    </mat-select>
                    <mat-error>Lead KPI is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>Performance KPI</mat-label>
                    <mat-select matNativeControl placeholder="Performance KPI" formControlName="kpi_performance">
                        <mat-option value="1">Yes</mat-option>
                        <mat-option value="0">No</mat-option>
                    </mat-select>
                    <mat-error>Performance KPI is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>Review Frequency</mat-label>
                    <mat-select matNativeControl formControlName="frequency">
                        <mat-option value="Monthly">Monthly</mat-option>
                        <mat-option value="Quarterly">Quarterly</mat-option>
                    </mat-select>
                    <mat-error>Review Frequency is required</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" *ngIf="companyFinancialYear =='jan-dec'">
                <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="25" appearance="outline">
                        <mat-label>January</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="jan">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>February</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="feb">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>March</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="mar">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>April</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="apr">
                    </mat-form-field>
                </div>
                <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="25" appearance="outline">
                        <mat-label>May</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="may">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>June</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="jun">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>July</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="jul">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>August</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="aug">
                    </mat-form-field>
                </div>
                <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="25" appearance="outline">
                        <mat-label>September</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="sep">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>October</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="oct">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>November</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="nov">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>December</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="dec">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="column" *ngIf="companyFinancialYear =='april-march'">
                <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="25" class="pr-4" appearance="outline">
                        <mat-label>April</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="apr">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" appearance="outline">
                        <mat-label>May</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="may">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>June</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="jun">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>July</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="jul">
                    </mat-form-field>
                </div>
                <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="25" class="pr-4" appearance="outline">
                        <mat-label>August</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="aug">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" appearance="outline">
                        <mat-label>September</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="sep">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>October</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="oct">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>November</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="nov">
                    </mat-form-field>
                </div>
                <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="25" class="pr-4" appearance="outline">
                        <mat-label>December</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="dec">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" appearance="outline">
                        <mat-label>January</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="jan">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>February</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="feb">
                    </mat-form-field>
                    <mat-form-field fxFlex="25" class="pl-4" appearance="outline">
                        <mat-label>March</mat-label>
                        <input matInput (keypress)="numberValidation($event)" formControlName="mar">
                    </mat-form-field>
                </div>
            </div>
            <div class="example-button-row" fxLayoutAlign="end">
                <button mat-raised-button color="accent" class="mr-12 submit-button">Submit</button>
                <a mat-raised-button color="accent" (click)="AddKpiPopupClose()">Cancel</a>
            </div>
        </form>
    </div>
</div>