<div class="content popup-content">
  <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="AddSectionForm" [formGroup]="AddSectionForm" (ngSubmit)="AddSectionSubmit()" novalidate>
          <!-- <div class="h3 mb-12">Add Sections</div> -->
          <div class="popup-header">
              <mat-toolbar matDialogTitle class="m-0">
              <mat-toolbar-row>
                  <span class="title dialog-title">Add Sections</span>
              </mat-toolbar-row>
              </mat-toolbar>
          </div>
              <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                  <mat-label>Unit</mat-label>
                      <mat-select matNativeControl formControlName="unit_id" (selectionChange)="departmentGet($event.value)">
                      <mat-option [value]="unit.id"  *ngFor="let unit of unitsData">{{unit.unit_name}}</mat-option>
                      </mat-select>
                      <mat-error>Unit is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                  <mat-label>Department</mat-label>
                  <mat-select matNativeControl formControlName="dept_id">
                      <mat-option *ngFor="let department of dataDepartment" [value]="department.multi_dept_id" >{{department.dept_name}}</mat-option>
                      </mat-select>
                  <mat-error>Department is required!</mat-error>
              </mat-form-field>
          </div>
              <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                  <mat-label>Section</mat-label>
                  <input matInput formControlName="section_name" required>
                  <mat-error>Section is required!</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                  <mat-label>Section Admin</mat-label>
                  <mat-select matNativeControl formControlName="user_id">
                      <mat-option value="{{user.user_id}}" *ngFor="let user of userListAllData">{{user.name}}</mat-option>
                  </mat-select>
                  <mat-error>Section Admin is required</mat-error>
              </mat-form-field>
          </div>
          <div class="example-button-row" fxLayoutAlign="end">
              <button mat-raised-button color="accent" class="mr-12 submit-button">Submit</button>
              <a mat-raised-button color="accent" (click)="AddSectionClose()">Cancel</a>
          </div>
      </form>
  </div>
</div>