<div id="lead-kpi" class="page-layout simple">
  <!-- HEADER -->
  <div class="header header-content-dashboard" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row">
    <!-- APP TITLE -->
    <div fxLayout="row">
      <div class="logo" fxLayout="row">
        <span class="logo-text header-tittle" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Lead KPI Status
        </span>
      </div>
    </div>
    <div style="position: absolute; left:16px" fxLayout="row">
      <button style="background: none;border:none;cursor:pointer" matTooltip="view All Strategic objective"
        [routerLink]="['/apps/welcome-screen']">
        <mat-icon class="secondary-text" style="color: #fff;">arrow_back</mat-icon>
      </button>
    </div>
  </div>
  <!-- HEADER -->
  <div class="content all-pages-content">
    <div class="main-widget pr-8">
      <div class="widget-group search-filter-select" fxLayout="row wrap" fxFlex="100" [@animateStagger]="{value:'50'}"
        fxLayoutAlign="start">
        <div fxFlex="100" fxFlex.gt-xs="46" fxFlex.gt-md="46">
          <mat-form-field appearance="outline" class="dating department-lead">
            <mat-label>Department</mat-label>
            <mat-select [formControl]="dept_nameFilter" (selectionChange)="filterRenderedData($event.value)">
              <mat-option value="" class="dept-mat-option">All</mat-option>
              <mat-option value="{{department.id}}" *ngFor="let department of dataDepartment">{{department.dept_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field class="ml-16" appearance="outline">
          <mat-label>Year</mat-label>
          <mat-select [formControl]="selectedYearFilter" (selectionChange)="filterRenderedDataByYear($event.value)">
            <mat-option value="{{userSelectedYearFull}}">{{userSelectedYearFull}}</mat-option>
            <mat-option value="{{userSelectedYearFull -1}}">{{userSelectedYearFull -1}}</mat-option>
            <mat-option value="{{userSelectedYearFull -2}}">{{userSelectedYearFull -2}}</mat-option>
            <mat-option value="{{userSelectedYearFull -3}}">{{userSelectedYearFull -3}}</mat-option>
            <mat-option value="{{userSelectedYearFull -4}}">{{userSelectedYearFull -4}}</mat-option>
          </mat-select>
          </mat-form-field> -->
          <button class="ml-16" mat-raised-button (click)="resetOptions()">Reset</button>
        </div>
        <div fxFlex="100" fxHide.xs fxFlex.gt-xs="34" fxFlex.gt-md="34" fxLayoutAlign="start center">
          <div class="unit_name">{{unit_name}}</div>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20" fxLayoutAlign="flex-end center">
          <button mat-raised-button class="lead-print" (click)="kpiLeadPDFAll()">Print</button>
        </div>
      </div>
    </div>
    <div class="main-widget pr-8">
      <div class="widget-group" fxLayout="row wrap" fxFlex="100" [@animateStagger]="{value:'50'}" fxLayoutAlign="start"
        style="background-color: white;">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
          <div class="charts-def-title" fxLayoutAlign="center">Lead KPI Status</div>
          <div id="pieChartLeadKPI" fxLayoutAlign="center" #pieChartLeadKPI></div>
        </div>
        <div fxLayout="column" class="pieChart-table" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50"
          fxLayoutAlign="center center">
          <table mat-table class="mat-table-lesent" [dataSource]="dataSourceLesent">
            <ng-container matColumnDef="lesent_name">
              <td mat-cell *matCellDef="let element" class="mat-cell-lesentName">
                <img *ngIf="element.lesent_name == 'Red'" class="status-red-icon"
                  src="assets/icons/status-red-icon.png">
                <img *ngIf="element.lesent_name == 'Yellow'" class="status-yellow-icon"
                  src="assets/icons/status-yellow-icon.png">
                <img *ngIf="element.lesent_name == 'Green'" class="status-green-icon"
                  src="assets/icons/status-green-icon.png">
                <img *ngIf="element.lesent_name == 'Gray'" class="status-gray-icon"
                  src="assets/icons/status-gray-icon.png">
                <img *ngIf="element.lesent_name == 'Blue'" class="status-blue-icon"
                  src="assets/icons/status-blue-icon.png">
              </td>
            </ng-container>
            <ng-container matColumnDef="lesent_description">
              <td mat-cell *matCellDef="let element">{{element.lesent_description}}
              </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsLesent;"></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="function-wrap mat-elevation-z8" *ngFor="let renderData of renderKPIData" id="{{renderData.id}}">
      <div *ngIf="renderData.add_kpis_data !=''">
        <div class="left mr-lg-16 dept-header-color">
          <div class="main-widget">
            <div class="widget-group" fxLayout="row" fxFlex="100" [@animateStagger]="{value:'50'}">
              <fuse-widget class="widget" fxLayout="column" fxLayoutAlign="center " fxFlex="100" fxFlex.gt-xs="50"
                fxFlex.gt-md="50">
                <div fxLayout="column" fxLayoutAlign="start">
                  <div class=" kpifunction"
                    style="font-size: 13px; font-family: Muli, Helvetica Neue, Arial, sans-serif;">Department:
                    {{renderData.dept_name}}</div>
                </div>
              </fuse-widget>
              <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
                <div fxLayout="row" fxLayoutAlign="end">
                  <div class="h6 kpifunction">
                    <a [routerLink]="['/apps/kpitrackers/kpigraph', renderData.id]" matTooltip="Graph"
                      aria-label="Graph" class="mat-icon-shadow">
                      <mat-icon style="color: #1C5E97;  font-size: 19px;position: absolute; top: 2px;">bar_chart
                      </mat-icon>
                    </a>
                  </div>
                  <div class="h6 kpifunction">
                    <a href="javascript:void(0)" (click)="kpiLeadPDF(renderData.id)" matTooltip="Print"
                      aria-label="Print " class="mat-icon-shadow">
                      <mat-icon style="color: #1C5E97; font-size: 19px;position: absolute; top: 2px;">print</mat-icon>
                    </a>
                  </div>
                </div>
              </fuse-widget>
            </div>
          </div>
        </div>
        <div class="main-widget">
          <div class="example-container-kpidata">
            <table mat-table [dataSource]="renderData.datasource" id="contentToConvert">
              <ng-container matColumnDef="kpi_name">
                <th mat-header-cell *matHeaderCellDef>KPI</th>
                <td mat-cell *matCellDef="let element" style="min-width: 150px; width: 150px; max-width: 150px;"
                  class="mat-cell-definition">{{element.kpi_name}}</td>
              </ng-container>
              <ng-container matColumnDef="kpi_definition">
                <th mat-header-cell *matHeaderCellDef>Def</th>
                <td mat-cell *matCellDef="let element">
                  <a href="javascript:void(0)" (click)="kpiDefinitionOpen(element.kpi_definition)"
                    *ngIf="element.kpi_definition != ' ' && element.year_for == 'Target'" matTooltip="Definition"
                    aria-label="Definition">
                    <img class="definition-icon" src="assets/icons/Receipt-4-icon.jpg">
                  </a>
                </td>
              </ng-container>
              <ng-container matColumnDef="unit_of_measurement">
                <th mat-header-cell *matHeaderCellDef>UoM</th>
                <td mat-cell *matCellDef="let element">{{element.unit_of_measurement}}</td>
              </ng-container>
              <ng-container matColumnDef="ideal_trend">
                <th mat-header-cell *matHeaderCellDef>Trend</th>
                <td mat-cell *matCellDef="let element">
                  <a href="javascript:void(0)" matTooltip="positive (good if number goes up)"
                    aria-label="positive (good if number goes up)">
                    <img *ngIf="element.ideal_trend == 'positive'" class="kpi-trend-upward-icon"
                      src="assets/icons/arrow-up-kpi.png">
                  </a>
                  <a href="javascript:void(0)" matTooltip="negative (good if number goes down)"
                    aria-label="negative (good if number goes down)">
                    <img *ngIf="element.ideal_trend == 'negative'" class="kpi-trend-downward-icon"
                      src="assets/icons/arrow-kpi-down.png">
                  </a>
                </td>
              </ng-container>
              <ng-container matColumnDef="section_name">
                <th mat-header-cell *matHeaderCellDef>Section</th>
                <td mat-cell *matCellDef="let element">{{element.section_name}}</td>
              </ng-container>
              <ng-container matColumnDef="year_for">
                <th mat-header-cell *matHeaderCellDef>Year</th>
                <td mat-cell *matCellDef="let element">{{element.year_for}}</td>
              </ng-container>
              <ng-container matColumnDef="one_year">
                <th mat-header-cell *matHeaderCellDef>{{userSelectedYearFull -4}}<span
                    *ngIf="companyFinancialYear =='april-march'">-{{userSelectedYearHalf -3}}</span></th>
                <td mat-cell *matCellDef="let element">{{element.one_year}}</td>
              </ng-container>
              <ng-container matColumnDef="two_year">
                <th mat-header-cell *matHeaderCellDef>{{userSelectedYearFull -3}}<span
                    *ngIf="companyFinancialYear =='april-march'">-{{userSelectedYearHalf -2}}</span></th>
                <td mat-cell *matCellDef="let element">{{element.two_year}}</td>
              </ng-container>
              <ng-container matColumnDef="three_year">
                <th mat-header-cell *matHeaderCellDef>{{userSelectedYearFull -2}}<span
                    *ngIf="companyFinancialYear =='april-march'">-{{userSelectedYearHalf -1}}</span></th>
                <td mat-cell *matCellDef="let element">{{element.three_year}}</td>
              </ng-container>
              <ng-container matColumnDef="four_year">
                <th mat-header-cell *matHeaderCellDef>{{userSelectedYearFull -1}}<span
                    *ngIf="companyFinancialYear =='april-march'">-{{userSelectedYearHalf}}</span></th>
                <td mat-cell *matCellDef="let element">{{element.four_year}}</td>
              </ng-container>
              <ng-container matColumnDef="jan">
                <th mat-header-cell *matHeaderCellDef>Jan
                  <span>{{companyFinancialYear =='april-march' ? currentYearPlusOne : userSelectedYearHalf}}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0', 'border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid && item.months == 'jan') ? '2px solid red' : '#000'}">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.jan,element.jan_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.jan}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="feb">
                <th mat-header-cell *matHeaderCellDef>Feb
                  <span>{{companyFinancialYear =='april-march' ? currentYearPlusOne : userSelectedYearHalf}}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0', 'border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid && item.months == 'feb') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.feb,element.feb_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.feb}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="mar">
                <th mat-header-cell *matHeaderCellDef>Mar
                  <span>{{companyFinancialYear =='april-march' ? currentYearPlusOne : userSelectedYearHalf}}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0','border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid &&  item.months == 'mar') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.mar,element.mar_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.mar}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="apr">
                <th mat-header-cell *matHeaderCellDef>Apr {{userSelectedYearHalf}}</th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0','border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid &&  item.months == 'apr') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.apr,element.apr_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.apr}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="may">
                <th mat-header-cell *matHeaderCellDef>May {{userSelectedYearHalf}}</th>

                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0','border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid &&  item.months == 'may') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.may,element.may_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.may}}</span>
                </td>jun
              </ng-container>
              <ng-container matColumnDef="jun">
                <th mat-header-cell *matHeaderCellDef>Jun {{userSelectedYearHalf}}</th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0','border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid &&  item.months == 'jun') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.jun,element.jun_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.jun}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="jul">
                <th mat-header-cell *matHeaderCellDef>Jul {{userSelectedYearHalf}}</th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0','border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid &&  item.months == 'jul') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.jul,element.jul_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.jul}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="aug">
                <th mat-header-cell *matHeaderCellDef>Aug {{userSelectedYearHalf}}</th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0','border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid &&  item.months == 'aug') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.aug,element.aug_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.aug}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="sep">
                <th mat-header-cell *matHeaderCellDef>Sep {{userSelectedYearHalf}}</th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0','border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid &&  item.months == 'sep') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.sep,element.sep_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.sep}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="oct">
                <th mat-header-cell *matHeaderCellDef>Oct {{userSelectedYearHalf}}</th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0','border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid &&  item.months == 'oct') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.oct,element.oct_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.oct}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="nov">
                <th mat-header-cell *matHeaderCellDef>Nov {{userSelectedYearHalf}}</th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0','border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid &&  item.months == 'nov') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.nov,element.nov_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.nov}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="dec">
                <th mat-header-cell *matHeaderCellDef>Dec {{userSelectedYearHalf}}</th>
                <td mat-cell *matCellDef="let element">
                  <div class="lateentry" *ngFor="let item of element.late_review"
                    [ngStyle]="{'border-top':(element.year_for === 'Actual') ? '1px solid #f40000' : '1px solid #e0e0e0','border-top':(element.reviewstatus == 1 && element.kpi_id == element.reviewkpiid &&  item.months == 'dec') ? '2px solid red' : '#000' }">
                  </div>
                  <span [ngStyle]="getColorActual(element.year_for,element.dec,element.dec_label)"
                    [className]="element.year_for === 'Actual' ? 'setcolor' : ' '">{{element.dec}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="ytd_target_actual">
                <th mat-header-cell *matHeaderCellDef class="mat-header-ytd">YTD</th>
                <!-- <td mat-cell *matCellDef="let element">{{element.ytd_target_actual}}</td> -->

                <td mat-cell *matCellDef="let element" [ngStyle]="getColor(element.year_for, element.ytd_color)">
                  <!-- getColor(element.year_for, element.ytd_color) -->
                  {{element.ytd_target_actual}}
                </td>
              </ng-container>
              <ng-container matColumnDef="year_end">
                <th mat-header-cell *matHeaderCellDef class="mat-header-year_end">YE {{userSelectedYearHalf}}</th>
                <td mat-cell *matCellDef="let element">
                  {{element.year_end}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / CONTENT -->
</div>