@import "src/@fuse/scss/fuse";
#tasks-remark {
    tr.mat-header-row {
        height: 25px;
        background: #b0aeb2 !important;
        color: #fff;
    }
    .remark-table {
        overflow-x: auto;
        table {
            //overflow: scroll;
            margin: 10px 0px 10px 0px;
        }
        tr.mat-header-row {
            height: 25px;
            background: #6497b1;
            color: #fff;
        }
        .mat-header-completion {
            padding-right: 0px;
            width: 90px;
        }
        td.mat-cell:first-of-type,
        td.mat-footer-cell:first-of-type,
        th.mat-header-cell:first-of-type {
            padding-left: 2px;
            border-left: 1px solid #e0e0e0;
        }
    }
    .dept-header-color {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}