@import "src/@fuse/scss/fuse";


.mat-select {
    height: 34px !important;
}

.mat-form-field-suffix {
    top: 0.5em !important;
}

// .mat-input-element {
//     margin-top: 17px !important;
// }

.mat-tooltip.my-tooltip {
    font-size: 14px;
}

#initiative-data {
    .strObjLesent {
        .lesent-color {
            margin-top: 3px;
        }
    }


    th {
        display: none;
    }

    fuse-widget {
        padding: 6px !important;
    }

    .grap-view {
        background : #1C5E97;
        align-items: center;
        text-align : center;
        position   : relative;
    }

    h3 {
        transform  : rotate(-90deg);
        white-space: nowrap;
        text-align : center;
        margin     : 0 auto;
        position   : absolute;
        top        : 50%;
        left       : -14px;
    }

    .str_obj_hading {
        min-height             : 35px;
        background-color       : #039be5;
        padding                : 8px 0px 0px 4px;
        margin                 : 0px 10px 0px 10px;
        border-top-left-radius : 4px;
        border-top-right-radius: 4px;

        .str-obj-tittel {
            font-size  : 13px;
            font-family: Muli, Helvetica Neue, Arial, sans-serif;
            color      : white;
        }
    }

    .all-pages-content {
        padding-bottom: 10px;
        padding-top   : 0px;

        @include media-breakpoint("lt-lg") {
            flex-direction: column;
        }

        .left {
            .mat-expansion-panel-body {
                padding: 0 10px 10px;
            }

            .mat-expansion-panel-header {
                // min-height: 50px !important;
                display          : flex;
                flex-direction   : row;
                align-items      : center;
                border-radius    : inherit;
                padding-left     : 0px;
                padding-right    : 8px;
                border-left      : 6px solid #1C5E97;
                // padding-top: 6px;
                // padding-bottom: 6px;
                height           : auto !important;
            }

            .mat-expansion-indicator::after {
                color      : rgb(0, 0, 0);
                // position: absolute;
                // left    : 5px;
                // color   : black;

            }

            .mat-expansion-indicator {

                position: absolute;
                left    : 16px;
                color   : black;

            }

            .main-widget {
                .stra-dept {
                    //background-color: #039be5 !important;
                    background-color       : #f7f7f7 !important;
                    color                  : rgb(0, 0, 0) !important;
                    border-top-left-radius : 5px;
                    border-top-right-radius: 5px;

                    .widget {
                        // padding: 10px;
                        padding-top   : 0px;
                        padding-bottom: 0px;
                        padding-left  : 3px;
                        padding-right : 3px;
                    }

                    .status-blue-icon-white {
                        width: 21px;
                    }
                }
            }

            .initiative {
                padding-left: 15px;
                min-height  : 30px;

                .widget-group {
                    //background-color:#b0aeb2 ;
                    background-color: #f7f7f7;
                    margin-top      : 2px;
                    border-left     : 6px solid green;
                    border-radius   : 4px;


                }

                .widget {
                    padding: 4px;
                }
            }

            .action-plan {
                padding-left: 30px;
                min-height  : 30px;

                .widget-group {
                    background-color: #f7f7f7;
                }

                .widget {
                    padding: 4px;
                }

                .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
                    line-height: 20px;
                    padding    : 0 12px;
                    font-size  : 13px;
                    font-family: Muli, Helvetica Neue, Arial, sans-serif;
                }

                .mat-button-toggle-group-appearance-standard,
                .mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
                    border-radius: 0px;
                }

                .mat-button-toggle-group-appearance-standard {
                    border: solid 0px rgba(0, 0, 0, 0.12);
                }

                .mat-button-toggle-checked {
                    background-color: #f7f7f7 !important;
                    color           : rgba(0, 0, 0, 0.54);
                    border-radius   : 4px;
                }

                .mat-button-toggle+.mat-button-toggle {
                    border-left: solid 0px rgba(0, 0, 0, 0.12);
                }

                .mat-button-toggle-appearance-standard {
                    height    : 22px;
                    color     : rgba(0, 0, 0, 0.87);
                    background: #f7f7f7;
                }
            }

            /* .action-plan{
            padding-left: 20px;
            height: 30px;
            background-color: #446c80 !important;
            height: 50px;
            .widget{
              padding: 7px;
            }
          } */
            .table-actionplan {
                margin-left  : 30px;
                background   : #f7f7f7;
                margin-top   : 2px;
                border-radius: 4px;

                .user-table {
                    border: 1px solid #dad5d5;
                }

                .widget-group {
                    //background-color:#b0aeb2 ;

                    border-left  : 6px solid #e07608;
                    border-radius: 4px;


                }

                .start-month-icon {
                    min-height: 18px;
                    height    : 18px;
                    width     : 18px;
                }

                .end-month-icon {
                    min-height: 18px;
                    height    : 18px;
                    width     : 18px;
                }

                .unreview-month-icon {
                    min-height: 17px;
                    height    : 17px;
                    width     : 17px;
                }

                .review-month-icon {
                    min-height: 16px;
                    height    : 16px;
                    width     : 16px;
                }

                /* .triangle-up-icon {
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-bottom: 12px solid #555;
              margin-left: 12px;
              display: block;
            } */
            }

            .table-kpi {
                margin-left  : 36px;
                background   : #f7f7f7;
                border-left  : 6px solid #00d0ff;
                margin-top   : 2px;
                border-radius: 4px;

                .widget-group {
                    //background-color:#b0aeb2 ;


                    border-radius: 4px;


                }
            }
        }

        tr.mat-header-row {
            height          : 25px;
            background-color: #f1f1f3;
            color           : rgb(255, 255, 255) !important;
        }

        th.mat-header-cell {
            color: rgba(0, 0, 0, 0.87) !important;
        }

        .mat-header-sr-no {
            padding-left: 0px;
            width       : 40px;
        }

        .mat-cell-sr-no {
            padding-left: 0px;
        }

        /* .mat-header-action{
        padding-right: 0px;
        width: 60px;
      }
      .mat-cell-action{
        padding-right: 0px;
      }  */
        .sr_no {
            font-size  : 13px;
            font-weight: 800;
        }

        .kpifunction {
            font-size  : 13px;
            font-family: Muli, Helvetica Neue, Arial, sans-serif;
            margin-left: 29px;

        }

        .staticfunction {
            font-size  : 11px;
            font-family: Muli, Helvetica Neue, Arial, sans-serif;
            text-align : center;
            color      : #1C5E97;
            margin-left: 7px;
        }

        .staticInifunction {
            font-size  : 11px;
            font-family: Muli, Helvetica Neue, Arial, sans-serif;
            text-align : center;
            color      : green;
        }

        .staticActfunction {
            font-size  : 11px;
            font-family: Muli, Helvetica Neue, Arial, sans-serif;
            text-align : center;
            color      : #e07608;
        }

        .staticKpifunction {
            font-size  : 11px;
            font-family: Muli, Helvetica Neue, Arial, sans-serif;
            text-align : center;
            font-weight: 700;
            color      : #00d0ff;
        }

        .initiative_data {
            font-size  : 13px;
            font-family: Muli, Helvetica Neue, Arial, sans-serif;
            color      : rgb(0, 0, 0);
            margin-left: 29px;

        }

        .mat-header-month {
            padding-left: 0px;
            width       : 40px;
        }

        .mat-header-actionPlan {
            text-align  : left;
            padding-left: 4px;
        }

        .mat-cell-actionPlan {
            text-align  : left;
            padding-left: 4px;
        }

        .mat-header-target {
            width: 70px;
        }

        .mat-header-owner {
            text-align  : left;
            padding-left: 2px;
            width       : 100px;
        }

        .mat-cell-owner {
            text-align  : left;
            padding-left: 2px;
        }

        .mat-expansion-panel-header:not([aria-disabled="true"]) {
            cursor          : pointer;
            background-color: #f7f7f7;
        }
    }

    .open-close-button {
        padding-right: 5px;
    }

    /* .close-all-button{
      margin-left: 10px;
    } */
    .search-filter-select {
        .mat-form-field-appearance-outline .mat-form-field-outline {
            display       : flex;
            position      : absolute;
            left          : 0;
            right         : 0;
            bottom        : 5px;
            pointer-events: none;
            top           : 9px;
        }

        .mat-form-field-label-wrapper {
            position      : initial;
            left          : 0;
            box-sizing    : content-box;
            width         : 100%;
            height        : 100%;
            overflow      : hidden;
            pointer-events: none;
            font-size     : 17px;
        }

        .mat-select-value-text {
            font-size    : 12px;
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
        }

        .mat-form-field-wrapper {
            max-height: 45px;
            width     : 175px;
        }

        .mat-form-field-infix {
            display   : block;
            position  : relative;
            flex      : auto;
            min-width : 0;
            width     : 160px;
            border-top: 0em solid transparent;
        }

        .mat-form-field-appearance-outline .mat-form-field-wrapper {
            margin: 0em 0;
        }

        .mat-form-field-appearance-outline .mat-form-field-label {
            top       : 1.2em;
            margin-top: 0.2em;
            font-size : 14px;
        }

        .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
        .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
            display  : block;
            font-size: inherit;
            width    : 1.5em;
            height   : 1.5em;
        }

        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0.5em;
        }
    }
}

svg:not(:root) {
    overflow     : hidden;
    border-radius: 3px;
}

.svg {
    &__icon {
        width : 20px;
        height: 16px;
    }

    &__icontriangle {
        width : 18px;
        height: 14px;
    }

    &__iconcircle {
        width: 17px;
    }

    &__circle,
    &__triangle {
        fill: grey;

        &-stroke {
            fill        : transparent;
            stroke      : grey;
            stroke-width: 6px;
        }
    }

}

.mat-raised-button2 {
    background-color: #1c5e97 !important;
    color           : #fff !important;
    font-size       : 16px !important;
    font-weight     : 700 !important;
    padding         : 4px 15px !important;
}

//  responsive start

.strateg-tree {
    position     : absolute;
    right        : 3%;
    // top       : 6%;
    background   : transparent;
    border       : none;
    cursor       : pointer
}

.status-field {
    margin-right: 11px;
}

.initiative-status {
    margin-right: 10px;
}

// @media (min-width: 331px) and (max-width: 369px) {
//     .startegic-dial {
//         .mat-dialog-container {
//             max-height: 400px !important;
//         }
//     }

// }

// @media (min-width: 601px) and (max-width: 767px) {
//     .startegic-dial {
//         .mat-dialog-container {
//             max-height: 500px !important;
//         }
//     }

// }

.dot-co {
    margin-right: 18px;
}

@media (min-width: 1200px) {
    // .startegic-dial {
    //     .mat-dialog-container {
    //         min-width: 1000px !important;
    //     }
    // }

    .rest-paing {
        padding-top: 5px;
    }

}

@media (min-width: 360px) and (max-width: 599px) {
    .dep-date {
        padding-bottom: 12px;
    }

    .mat-form-field-wrapper {
        width: 100% !important;
    }

    .mat-expansion-indicator {
        top: 6px;
    }

    .strateg-tree {
        right : 0%;
        bottom: 7px;
    }

    .startegic-dots {
        right: 3% !important;
        top  : -30px !important;
    }

    .status-field {
        margin-right: 0px;
    }

    .text-init {
        margin-right: 18px !important;
    }

    .initiative-status {
        margin-right: 23px !important;
    }

    .action-text {
        margin-right: 23px;
    }

    .dot-co {
        margin-left : 0px !important;
        margin-right: 25px !important;
    }

    .kpi-text {
        margin-right: 23px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .dep-date {
        padding-bottom: 9px;
    }
}

@media (min-width: 360px) and (max-width: 599px) {
    .dep-date {
        padding-bottom: 12px;
    }

    .wdth-status-target {
        .mat-form-field-wrapper {
            width: 171px !important;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1279px) {
    // .dot-co {
    //     margin-right: -33px !important;
    // }
    // .staticActfunction {
    //     text-align: center !important;
    //     margin-left: 43px !important;
    // }
}

@media (min-width: 600px) and (max-width: 959px) {
    .dot-co {
        margin-right: 11px;
    }
}

@media (min-width: 960px) and (max-width: 1279px) {
    .dot-co {
        margin-right: -29px;
    }
}

@media (min-width: 1280px) and (max-width: 1650px) {
  
    .dot-co {
        margin-right: 0px;
    }

    .staticInifunction {
        text-align: end !important;
    }
    .staticActfunction {
        text-align: end !important;
    }
  .staticKpifunction{
        text-align: end !important;
    }

    .initt {
        .initiative_data {
            margin-left: 0px !important;
        }
    }
}

@media (min-width: 1651px) {
    
    .dot-co {
        margin-right: -13px;
    }
    .dot-co1 {
        margin-right: -29px;
    }
    .staticActfunction {
        text-align: end !important;
    }
    .staticKpifunction {
        text-align: end !important;
    }
    .staticInifunction {
        text-align: end !important;
    }
}

.fixing-place {
    position: fixed;
    right   : 4px;
}

.datee {
    .mat-input-element {
        height: 0px !important;
    }
}

.departmentone {
    margin        : -10px 0px;
    /* line-height: 24px; */
    position      : relative;
    top           : 11px;
}
@media (min-width: 2500px) {
    
    .status-field {
        margin-right: 29px;
    }
}
// responsive end