 <div class="content popup-content">
     <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
         <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="editProcedureForm"
             [formGroup]="editProcedureForm" (ngSubmit)="editProcedureSubmit()" novalidate>
             <!-- <div class="h3 mb-12">Edit Procedure & Template</div> -->
             <div class="popup-header">
                 <mat-toolbar matDialogTitle class="m-0">
                     <mat-toolbar-row>
                         <span class="title dialog-title">Edit Procedure & Template</span>
                     </mat-toolbar-row>
                 </mat-toolbar>
             </div>
             <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                 <mat-form-field appearance="outline" fxFlex="100" class="pr-4 dialog-field add-dials-ad">
                     <mat-label>Procedure Name</mat-label>
                     <input matInput formControlName="name" required>
                     <mat-error>Procedure Name is required!</mat-error>
                 </mat-form-field>
             </div>
             <div class="example-button-row" fxLayoutAlign="end">
                 <button mat-raised-button color="accent" class="mr-12 submit-button">Submit</button>
                 <a mat-raised-button color="accent" (click)="editProcedureClose()">Cancel</a>
             </div>
         </form>
     </div>
 </div>