@import "src/@fuse/scss/fuse";

#strategic-dashboard {
  .content-dashboard {

  }
}

/* @media print {
  text.highcharts-title * {
      font-size: 20px;
      font-weight: 600;
  }
  .highcharts-text-outline{
      display: none;
  }
  g.highcharts-label.highcharts-data-label.highcharts-data-label-color-undefined tspan {
      color: #666666 !important;
      fill: #666666 !important;
      font-size: 13px;
      font-weight: 500;
  }
  g.highcharts-legend-item tspan{
    font-weight: normal !important;
    font-size: 12px;
  }
} */