 
 <div class="content popup-content" style="overflow:hidden">
 <div class="popup-header">
    <mat-toolbar matDialogTitle class="m-0">
        <mat-toolbar-row style="justify-content: space-between;">
            <span class="title dialog-title">Strategic Objective Details</span>
            <mat-dialog-actions style="margin-bottom: 0;">
             
              <button mat-button mat-dialog-close tabindex="-1"><mat-icon aria-hidden="false" style="color:white" aria-label="Example home icon">close</mat-icon></button>
            </mat-dialog-actions>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div>

  <p>Definition : {{definition}}</p>
  <!-- <p>Description : {{description}}</p> -->
    <p> Start_Date :
      
      {{startDate2}}
    </p>
    <p> End_Date :
      
      {{endDate2}}
    </p>
  </div>
    </div>

   