<div id="software-development" class="page-layout blank">
    <!-- HEADER -->
    <div class="header header-content-dashboard" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row">
        <!-- APP TITLE -->
        <div fxLayout="row">
            <div class="logo" fxLayout="row">
                <span class="logo-text header-tittle" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Software Development
                </span>
            </div>
        </div>
    </div>
    <!-- HEADER -->
    <div class="content p-24">
        <div fxLayout="column" fxLayoutAlign="center">
            <!--  <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">
                <div class="course"  fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33"  [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
                        <div class="header web-bg" fxLayout="row" fxLayoutAlign="center center">
                            <div class="category" fxFlex>Organization Structure</div>
                        </div>
                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div class="h1">Information flows between levels within the company
                            </div>
                        </div>
                        <div class="footer" fxLayout="row" fxLayoutAlign="start center">
                            <a href="JavaScript:void(0);" (click)="OrganizationOpen('organisation.jpg')">
                                <mat-icon class="length-icon">image</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="course"  fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33"  [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
                        <div class="header web-bg" fxLayout="row" fxLayoutAlign="center center">
                            <div class="category" fxFlex>Meeting Structure</div>
                        </div>
                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div class="h1">Monthly, Quarterly, Half yearly - events, functions, dates andlocation
                            </div>
                        </div>
                        <div class="footer" fxLayout="row" fxLayoutAlign="start center">
                            <a href="JavaScript:void(0);" (click)="OrganizationOpen('meeting-structure.png')">
                                <mat-icon class="length-icon">image</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="course"  fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33"  [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
                        <div class="header web-bg" fxLayout="row" fxLayoutAlign="center center">
                            <div class="category" fxFlex>Calendar / Events</div>
                        </div>
                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div class="h1">Agenda, participation and schedule list
                            </div>
                        </div>
                        <div class="footer" fxLayout="row" fxLayoutAlign="start center">
                            <a href="JavaScript:void(0);" (click)="OrganizationOpen('calendar.png')">
                                <mat-icon class="length-icon">image</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div #gantt_here_project class='gantt-chart-project'></div> -->
        </div>
    </div>
</div>