<div class="content popup-content">
    <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="addThreatsForm"
            [formGroup]="addThreatsForm" (ngSubmit)="addThreatsSubmit()" novalidate>
            <div class="popup-header">
                <mat-toolbar matDialogTitle class="m-0">
                    <mat-toolbar-row>
                        <span class="title dialog-title">Add Threat</span>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100" class="pr-4 dialog-field">
                    <mat-label>Threats Name</mat-label>
                    <textarea matInput formControlName="threats" required></textarea>
                    <mat-error>Threats Name is required!</mat-error>
                </mat-form-field>
            </div>
            <div [fxLayout]="direction" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100" class="pr-4 dialog-field add-dials-ad">
                    <mat-label>Keywords</mat-label>
                    <input matInput formControlName="keywords" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="example-button-row" fxLayoutAlign="end">
                <button mat-raised-button color="accent" class="mr-12 submit-button">Submit</button>
                <a mat-raised-button color="accent" (click)="addThreatsClose()">Cancel</a>
            </div>
        </form>
    </div>
</div>