<div id="business-faq" class="page-layout simple full-width">
    <!-- HEADER -->
   <!--  <div class="header header-content-dashboard" fxLayout="column" fxLayoutAlign="center center">
        <span class="hero-text header-tittle">Frequently Asked Questions</span>
    </div> -->
    <div class="header p-sm-24" fxLayout="column" fxLayoutAlign="center center">
            <div class="hero-text mb-16">
                <h1>Frequently Asked Questions</h1>
            </div>
            <div class="search mat-elevation-z7" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>search</mat-icon>
                <input [formControl]="searchInput" placeholder="Search in FAQs..." fxFlex>
            </div>
        </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content all-pages-content py-8">
        <mat-accordion class="faqs-accordion">
            <mat-expansion-panel *ngFor="let faq of faqsFiltered; let i = index" [expanded]="step === i" (opened)="setStep(i)">
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="mr-12 s-20 secondary-text">help_outline</mat-icon>
                        <span [innerHtml]="faq.question"></span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <span [innerHtml]="faq.answer"></span>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- / CONTENT -->
</div>
