<div id="strategic-graph" class="page-layout simple">
    <!-- HEADER -->
    <div class="header header-content-dashboard" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row">
      <!-- APP TITLE -->
      <div fxLayout="row">
        <div class="logo" fxLayout="row">
          <span class="logo-text header-tittle" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Strategy Map
          </span>
        </div>
      </div>
    </div>
    <!-- HEADER -->
  <div class="content all-pages-content">
    <div class="left">
      <div class="main-widget">
        <div class="widget-group p-0" fxLayout="row" fxLayout.xs="column" [@animateStagger]="{value:'50'}">
          <div  class="widget p-0" fxFlex="100" fxFlex.gt-xs="40" fxFlex.gt-md="40">
            <div fxLayout="column" fxLayoutAlign="start" class="strGraphLesent">
              <div fxLayout="row">
                <img class="status-green-icon lesent-color" src="assets/icons/status-green-icon.png"> - {{lesentGreen}}%
                <img class="status-yellow-icon lesent-color" src="assets/icons/status-yellow-icon.png"> - {{lesentYellow}}-100%
                <img class="status-red-icon lesent-color" src="assets/icons/status-red-icon.png"> &lt; {{lesentRed}}%
                <img class="status-gray-icon lesent-color" src="assets/icons/status-gray-icon.png"> - On track
                <img class="status-blue-icon lesent-color" src="assets/icons/status-blue-icon.png"> - Hold
              </div>
            </div>
          </div>
          <div class="widget p-0 search-filter-select" fxFlex="100" fxFlex.gt-xs="60" fxFlex.gt-md="60">
            <div fxLayout="row" fxLayoutAlign="end">
              <div class="example-button-row button-excel-pdf" fxLayoutAlign="end" fxLayout.xs="column">
                <button mat-raised-button class="button-excel open-allone" (click)="openCloseTasks(1)">Open All Level 1</button>
                <button mat-raised-button class="button-excel open-alltwo" (click)="openCloseTasks(2)">Open All Level 2</button>
                <button mat-raised-button class="button-excel close-all" (click)="openCloseTasks(0)">Close All</button>
                <button mat-raised-button class="button-pdf print" (click)="strObjeGraphPDF();">Print</button>
              </div>
            </div>
          </div>
        </div>
        <div class="main-widget">
          <!-- <div #gantt_here class='gantt-chart' style="max-height: 65vh; overflow: auto;"></div> -->
         <!--  <div #gantt_here [className]="activePrintClass === 1 ? 'gantt-chart-print' : 'gantt-chart'"></div> -->
          <div #gantt_here class="gantt-chart" [ngStyle]="{'min-height':(activePrintClass === 1) ? '1800px' : '520px' }"></div>
        </div>
      </div>
    </div>
  </div>
</div>