@import "src/@fuse/scss/fuse";
@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";

#strategic-graph {
    .strGraphLesent {
        margin-top: 4px;

        .lesent-color {
            margin-left: 12px;
        }
    }

    .gantt-chart {
        margin-top   : 4px;
        position     : relative;
        width        : 100%;
        // min-height: 450px !important;
        height       : auto;
    }

    .gantt_cell {
        display       : inline-block;
        vertical-align: top;
        border-right  : 1px solid #ebebeb;
        padding-left  : 0px;
        padding-right : 0px;
        height        : 100%;
        overflow-x    : hidden;
        // overflow-y: auto;
        white-space   : nowrap;
        font-size     : 12px;
        line-height   : 18px;
    }

    .gantt_tree_content {
        white-space  : normal;
        max-width    : 370px;
        padding-right: 4px;
        padding-left : 2px;
    }

    .gantt_tree_icon {
        height: 18px;
    }

    .gantt_scale_line:first-child {
        border-top: none;
        background: #b5b3b3 !important;
    }

    .gantt_scale_line {
        background: #e4e2e2 !important;
    }

    /* .gantt_row, .gantt_task_row {
    height: auto!important;
    min-height: 36px;
    line-height: 18px!important;
  } */
    /* .gantt-chart-print{
    margin-top: 4px;
    position: relative;
    width: 100%;
    //height: 1800px;
    //height: auto;
  } */
    .gantt_link_control div {
        display: none;
    }

    .gantt_task .gantt_task_scale .gantt_scale_cell {
        color       : #4c4949;
        border-right: 1px solid #ebebeb;
        font-size   : 11px;
    }

    .gantt_task_content {
        opacity    : 0;
        font-size  : 12px;
        color      : #fff;
        width      : 100%;
        top        : 0;
        cursor     : pointer;
        position   : absolute;
        white-space: nowrap;
        text-align : left;
        //display: contents;
    }

    .gantt_task_line.gantt_task_inline_color {
        //border-color: #999;
        max-height: 8px;
        margin-top: 12px;
    }

    /* .gantt_tree_content {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 143px;
    white-space: nowrap;
    cursor: pointer;
  } */
    .gantt_line_wrapper div {
        background-color: #b3b1ae;
    }

    .gantt_link_arrow_right {
        border-left-color: #b3b1ae;
    }

    .gantt_marker {
        height          : 100%;
        width           : 2px;
        top             : 0;
        position        : absolute;
        text-align      : center;
        background-color: #966b2b;
        box-sizing      : border-box;
    }

    .gantt_tree_icon.gantt_folder_closed {
        display: none;
    }

    .gantt_tree_icon.gantt_folder_open {
        display: none;
    }

    .gantt_tree_icon.gantt_file {
        display: none;
    }

    .gantt_tree_icon.gantt_blank {
        width: 0px;
    }

    .gantt_tree_indent {
        width  : 15px !important;
        height : 100%;
        display: inline-block;
    }

}

/* Responsive start */
@media only screen and (max-width: 599px) {


    .open-allone {
        right: 178px;
        top  : 18px;
    }

    .open-alltwo {
        bottom: 23px;
        right : 25px;
    }

    .close-all {
        right: 178px;
    }

    .print {
        bottom: 39px;
        right : 25px;
    }
}

/* Responsive end */