<div id="finance-operations" class="page-layout blank">
    <!-- HEADER -->
    <div class="header header-content-dashboard" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row">
        <!-- APP TITLE -->
        <div fxLayout="row">
            <div class="logo" fxLayout="row">
                <span class="logo-text header-tittle" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Coming Soon
                </span>
            </div>
        </div>
    </div>
    <!-- HEADER -->
    <div class="content all-pages-content" style="background-color:#FFFFFF; border-radius: 3px;">
        <div class="left">
            <div class="main-widget">
                <div class="widget-group" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom   [@animateStagger]="{value:'50'}">
                    <!-- <fuse-widget  class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">
                        <div style="text-align: center;">
                            <img src="assets/images/Coming-Soon-Template.jpg">
                        </div>
                    </fuse-widget> -->
                    <!-- <fuse-widget  class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                        <div class="fuse-card" style="min-width:0px; max-width: 290px; background-color: #6c757d;">
                            <div class="p-16" fxLayout="column" fxLayoutAlign="space-between center">
                                <div class="pr-16">
                                    <div class="h1" fxLayoutAlign="center">25563</div>
                                    <div class="h4 secondary-text" fxLayoutAlign="center">TOTAL TICKETS</div>
                                </div>
                            </div>
                        </div>
                    </fuse-widget>
                    <fuse-widget  class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                        <div class="fuse-card" style="min-width:0px; max-width: 290px; background-color: #039cfd;">
                            <div class="p-16" fxLayout="column" fxLayoutAlign="space-between center">
                                <div class="pr-16">
                                    <div class="h1" fxLayoutAlign="center">6952</div>
                                    <div class="h4 secondary-text" fxLayoutAlign="center">PENDING TICKETS</div>
                                </div>
                            </div>
                        </div>
                    </fuse-widget>
                     <fuse-widget  class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                        <div class="fuse-card" style="min-width:0px; max-width: 290px; background-color: #52bb56;">
                            <div class="p-16" fxLayout="column" fxLayoutAlign="space-between center">
                                <div class="pr-16">
                                    <div class="h1" fxLayoutAlign="center">18361</div>
                                    <div class="h4 secondary-text" fxLayoutAlign="center">CLOSED TICKETS</div>
                                </div>
                            </div>
                        </div>
                    </fuse-widget>
                     <fuse-widget  class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                        <div class="fuse-card" style="min-width:0px; max-width: 290px; background-color: #ef5350;">
                            <div class="p-16" fxLayout="column" fxLayoutAlign="space-between center">
                                <div class="pr-16">
                                    <div class="h1" fxLayoutAlign="center">250</div>
                                    <div class="h4 secondary-text" fxLayoutAlign="center">DELAYED TASK</div>
                                </div>
                            </div>
                        </div>
                    </fuse-widget> -->
                </div>
            </div>
        </div>
</div>
